<div class="flex flex-row justify-between items-center space-x-2 p-2">
  <button mat-icon-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="font-bold">{{ DetailMenu()?.title || 'Không có dữ liệu' }}</div>
  <div class="flex flex-row space-x-2 items-center">
    <button mat-icon-button color="primary" *ngIf="isEdit()" (click)="handleMenuAction()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="!isEdit()" (click)="toggleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="toggleDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="relative flex flex-col w-full p-4 overflow-auto">
  <!-- Xác nhận Xóa -->
  <ng-container *ngIf="isDelete()">
    <div class="flex flex-col space-y-4 items-center justify-center">
      <div class="font-bold text-2xl">Bạn chắc chắn muốn xoá không?</div>
      <div class="flex flex-row space-x-2 items-center justify-center">
        <button mat-flat-button color="primary" (click)="DeleteData()">Đồng Ý</button>
        <button mat-flat-button color="warn" (click)="toggleDelete()">Huỷ Bỏ</button>
      </div>
    </div>
  </ng-container>

  <!-- Chi tiết Menu -->
  <ng-container *ngIf="!isDelete()">
    <!-- <div *ngIf="!isEdit()" class="flex flex-col space-y-2 justify-center items-center border p-4 rounded-lg">
      <div class="font-bold p-2 rounded-lg border">{{ DetailMenu()?.Nhacungcap?.Title }}</div>
      <div>{{ DetailMenu()?.CreateAt | date: 'dd/MM/yyyy' }}</div>
      <table class="min-w-full divide-y divide-gray-200 border">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">STT</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Sản Phẩm</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Số Lượng</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Ghi Chú</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let item of DetailMenu()?.Sanpham; let i = index; trackBy: trackByFn">
            <td class="px-6 py-4 text-sm text-gray-500">{{ i + 1 }}</td>
            <td class="px-6 py-4 text-sm text-gray-500">{{ GetInfoSanpham(item.idSP)?.Title }}</td>
            <td class="px-6 py-4 text-sm text-gray-500">
              {{ item.Soluong }} {{ GetInfoSanpham(item.idSP)?.dvt }}
            </td>
            <td class="px-6 py-4 text-sm text-gray-500">{{ item.Ghichu }}</td>
          </tr>
        </tbody>
      </table>
    </div>
 -->
    <ng-container>
      <div class="w-full flex flex-col space-y-2">
      <mat-form-field appearance="outline">
        <mat-label>Tiêu Đề</mat-label>
        <input matInput [(ngModel)]="DetailMenu().title" (input)="FillSlug()" [disabled]="!isEdit()" placeholder="Vui lòng nhập Tiêu Đề"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Slug</mat-label>
        <input matInput [(ngModel)]="DetailMenu().slug" [disabled]="!isEdit()" placeholder="Vui lòng nhập Slug"/>
      </mat-form-field>
      @defer () {
        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
          <mat-label>Thư Mục Cha</mat-label>
          <mat-select [(ngModel)]="DetailMenu().parentId" [disabled]="!isEdit()">
            <div class="w-full flex flex-col">
              <mat-form-field appearance="outline" class="w-full p-2" subscriptSizing="dynamic">
                <input matInput (keyup)="DoFilterMenu($event)"  placeholder="Tìm Kiếm" />
              </mat-form-field>
              <div class="overflow-y-auto max-h-44">
                @for (item of ListMenu; track item.id) {
                  <mat-option [value]="item.id">{{item.title}}</mat-option>
                 }
                 @empty {
                  <span class="p-2 text-center">Không tìm thấy dữ liệu.</span>
                  }
        
              </div>
            </div>
          </mat-select>
        </mat-form-field>
      }
      <mat-form-field appearance="outline">
        <mat-label>Vị Trí</mat-label>
        <input matInput type="number" [(ngModel)]="DetailMenu().order" [disabled]="!isEdit()" placeholder="Vui lòng nhập Slug"/>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="DetailMenu().isActive" [disabled]="!isEdit()">{{DetailMenu().isActive?'Hiển Thị':'Ẩn'}}</mat-slide-toggle>
        
    </div>
    </ng-container>

  </ng-container>
</div>
